<div>{% paginate collection.products by 50 %}
    <div li-paginate:by="50" li-paginate="collection.products" class="filter_layout" by="50"><div id="w-node-_09286c67-529d-f6aa-4aa8-c17539d04286-39d4a596" class="div-block-62"><div class="div-block-68"><div class="padding-horizontal padding-medium"><div class="div-block-72">{% for link in linklists['creator-crumb'].links %}    <div li-for="link in linklists['creator-crumb'].links" class="div-block-74">
                                    
                            <a li-object:href="link.url" href="{{ link.url }}" class="div-block-71 w-inline-block"><div li-object="link.title" class="text-size-tiny">{{ link.title }}</div><div class="div-block-73"></div></a>
                            
                        </div>
{% endfor %}</div></div></div><div class="div-block-88"><div id="w-node-_678e0483-bbe4-e79a-1722-b169c587feae-c587feae" class="filter_filters-wrapper"><form action="{{ routes.search_url }}" method="get" role="search" class="filter_form_component"><div id="w-node-_265c4342-3d21-e8bf-dfee-efec035c3507-c587feae" class="filter_form"><div id="w-node-_3f3a7481-d916-af5d-7eda-3b3f1b45c927-c587feae" class="div-block-90 hide"><div id="w-node-dcbdc1b1-5b20-7d17-dfae-40b976cb0ac8-c587feae" class="padding-horizontal padding-medium"><div id="w-node-_678e0483-bbe4-e79a-1722-b169c587feb1-c587feae" class="filter_form-header"><div class="text-size-regular text-weight-medium">Filters</div><a li-object:href="collection.url" href="{{ collection.url }}" class="link-block-5 w-inline-block"></a></div></div></div><div class="padding-horizontal padding-medium hide"><div class="filter_results-wrapper"><div class="filter_results-text">Showing <span li-object="collection.all_products_count | append: ' '">{{ collection.all_products_count | append: ' ' }}</span>Products<span fs-cmsfilter-element="items-count"></span></div></div></div><div class="div-block-96"><div class="div-block-94"><div class="padding-horizontal padding-medium"><div class="div-block-95"><div class="text-size-small text-style-muted">Creators</div><div class="icon-1x1-small"></div></div></div></div><div class="div-block-97"><div class="div-block-169">{% for link in linklists['creators'].links %}    <div li-for="link in linklists['creators'].links">
                                    
                            <a li-object:href="link.object.url" href="{{ link.object.url }}" class="div-block-118 w-inline-block"><div class="div-block-93"><img src="{{ link.object.metafields.custom.logo | img_url: 'master' }}" loading="lazy" li-object:src="link.object.metafields.custom.logo | img_url: 'master'" alt="" class="image-cover">
</div><div class="div-block-109"><div li-object:text="link.object.title" class="text-size-small">
{{ link.object.title }}
</div><div class="div-block-110"><div li-object:text="link.object.all_products_count" class="text-size-tiny text-color-grey">
{{ link.object.all_products_count }}
</div><div class="text-size-tiny text-color-grey"> reels</div></div></div></a>
                            
                        </div>
{% endfor %}</div></div></div><div class="div-block-96 top-border"><div class="div-block-94"><div class="padding-horizontal padding-medium"><div class="div-block-95"><div class="text-size-small text-style-muted">Featured</div><div class="icon-1x1-small"></div></div></div></div><div class="div-block-97"><div class="div-block-169">{% for link in linklists['promoted'].links %}    <div li-for="link in linklists['promoted'].links">
                                    
                            <a href="#" class="div-block-118 w-inline-block"><div class="div-block-100"><img src="{{ link.object.metafields.custom.logo | img_url: 'master' }}" loading="lazy" li-object:src="link.object.metafields.custom.logo | img_url: 'master'" alt="" class="icon-1x1-small">
</div><div class="div-block-125"><div li-object:text="link.title" class="text-size-small">
{{ link.title }}
</div><div class="div-block-110"><div li-object:text="link.object.all_products_count" class="text-size-tiny text-color-grey">
{{ link.object.all_products_count }}
</div><div class="text-size-tiny text-color-grey"> reels</div></div></div></a>
                            
                        </div>
{% endfor %}</div></div></div></div></form><a data-w-id="678e0483-bbe4-e79a-1722-b169c587fede" href="#" class="filter_tablet-modal-close-button w-inline-block"><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031623afe4aee7e_icon_close-modal.svg" alt="" class="icon-1x1-small">
</a><div class="div-block-105"><div class="swiper-container"><div class="swiper is-promo"><div class="swiper-wrapper"><div class="swiper-slide is-promo"><div class="padding-horizontal padding-medium"><div class="div-block-104"><div class="div-block-196"><div class="icon-1x1-small w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 21V15M16 18H22M22 10H2M22 12V8.2C22 7.0799 22 6.51984 21.782 6.09202C21.5903 5.7157 21.2843 5.40974 20.908 5.21799C20.4802 5 19.9201 5 18.8 5H5.2C4.0799 5 3.51984 5 3.09202 5.21799C2.7157 5.40973 2.40973 5.71569 2.21799 6.09202C2 6.51984 2 7.0799 2 8.2V15.8C2 16.9201 2 17.4802 2.21799 17.908C2.40973 18.2843 2.71569 18.5903 3.09202 18.782C3.51984 19 4.0799 19 5.2 19H12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-size-regular">Get 15% credit back<br>
on every order</div></div></div></div><div class="swiper-slide is-promo"><div class="padding-horizontal padding-medium"><div class="div-block-104"><div class="div-block-196"><div class="icon-1x1-small w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 21V15M16 18H22M22 10H2M22 12V8.2C22 7.0799 22 6.51984 21.782 6.09202C21.5903 5.7157 21.2843 5.40974 20.908 5.21799C20.4802 5 19.9201 5 18.8 5H5.2C4.0799 5 3.51984 5 3.09202 5.21799C2.7157 5.40973 2.40973 5.71569 2.21799 6.09202C2 6.51984 2 7.0799 2 8.2V15.8C2 16.9201 2 17.4802 2.21799 17.908C2.40973 18.2843 2.71569 18.5903 3.09202 18.782C3.51984 19 4.0799 19 5.2 19H12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-size-regular">Get 15% credit back<br>
on every order</div></div></div></div><div class="swiper-slide is-promo"><div class="padding-horizontal padding-medium"><div class="div-block-104"><div class="div-block-196"><div class="icon-1x1-small w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 21V15M16 18H22M22 10H2M22 12V8.2C22 7.0799 22 6.51984 21.782 6.09202C21.5903 5.7157 21.2843 5.40974 20.908 5.21799C20.4802 5 19.9201 5 18.8 5H5.2C4.0799 5 3.51984 5 3.09202 5.21799C2.7157 5.40973 2.40973 5.71569 2.21799 6.09202C2 6.51984 2 7.0799 2 8.2V15.8C2 16.9201 2 17.4802 2.21799 17.908C2.40973 18.2843 2.71569 18.5903 3.09202 18.782C3.51984 19 4.0799 19 5.2 19H12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div class="text-size-regular">Get 15% credit back<br>
on every order</div></div></div></div></div></div><div class="padding-horizontal padding-medium"><div class="swiper is-promo-thumb"><div class="swiper-wrapper"><div class="swiper-slide is-promo-thumb is-active"></div><div class="swiper-slide is-promo-thumb"></div><div class="swiper-slide is-promo-thumb"></div></div></div></div></div></div></div></div></div><a data-w-id="fbc2b76f-ae1d-c44d-7b93-e3deb074d946" href="#" class="filter_tablet-filters-button w-inline-block"><img alt="" loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/62942b9f00484cf074e6f851_icon-filters.svg" class="button-icon-left">
<div>Filters</div></a><div id="w-node-_98eb3193-38da-d576-fd03-0042a50ef0df-39d4a596" class="div-block-60"><div class="div-block-101"><div class="padding-horizontal padding-medium"><div class="div-block-61 hide"><div class="margin-bottom margin-small"><h1 li-object="collection.title" class="heading-style-h1">{{ collection.title }}</h1></div><div class="div-block-63"><div li-object="collection.description" class="text-size-medium text-style-muted">{{ collection.description }}</div></div></div><div class="div-block-102">{% for link in linklists['main-menu'].links %}    <div li-for="link in linklists['main-menu'].links" class="div-block-74">
                                    
                            <a li-object:href="link.url" href="{{ link.url }}" class="div-block-71 w-inline-block"><div li-object="link.title" class="text-size-small">{{ link.title }}</div><div class="div-block-73"></div></a>
                            
                        </div>
{% endfor %}</div></div></div><div class="div-block-127"><div class="padding-horizontal padding-medium"><div class="div-block-126"><div class="text-size-small">
{{ section.settings.text_promo_text }}
</div>
<div class="div-block-128"><div class="text-size-small">Learn more</div><div class="div-block-129"><div class="icon-1x1-tiny w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 5V19M5 12H19" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div></div></div></div></div><div id="w-node-e4977d23-7b0a-9b23-e3f4-fa5b0820aff5-39d4a596" class="padding-horizontal padding-medium"><div id="w-node-fbc2b76f-ae1d-c44d-7b93-e3deb074d94a-39d4a596" class="filter_feed"><div class="filter_feed-header"><div class="filter_tags-wrapper">{% for filters in collection.filters %}    <div li-for="filters in collection.filters" class="filter_tags-inner-wrapper">
                                    
                            {% for filter_value in filters.active_values %}    <div li-for="filter_value in filters.active_values" class="filter_tag">
                                    
                            <div li-object="filter_value.label">{{ filter_value.label }}</div>
                            
                            <a aria-label="Remove Filter" li-object:href="filter_value.url_to_remove" href="{{ filter_value.url_to_remove }}" class="filter_close w-inline-block"><div class="filter_close-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1266 16.773L16.7729 17.1266C16.5777 17.3218 16.2611 17.3218 16.0658 17.1266L12 13.0607L7.9341 17.1265C7.73888 17.3218 7.42229 17.3218 7.22702 17.1265L6.87347 16.773C6.6782 16.5777 6.6782 16.2612 6.87347 16.0659L10.9394 12L6.87347 7.93413C6.6782 7.73891 6.6782 7.42232 6.87347 7.22705L7.22702 6.8735C7.42228 6.67824 7.73888 6.67824 7.9341 6.8735L12 10.9394L16.0658 6.8735C16.2611 6.67824 16.5777 6.67824 16.7729 6.8735L17.1266 7.22705C17.3218 7.42231 17.3218 7.73891 17.1266 7.93413L13.0607 12L17.1266 16.0659C17.3218 16.2612 17.3218 16.5777 17.1266 16.773Z" fill="currentColor"></path></svg></div></a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div><select id="sort-by" li-for:inside="option in collection.sort_options" class="sort_select filter_checkbox">
        {% for option in collection.sort_options %}                            
                            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% elsif option.value == collection.default_sort_by %}selected{% endif %}>{{ option.name }}</option>
                            
                    {% endfor %}    </select>
</div><div class="filter_product-list-wrapper"><div class="filter_product-list odd">{% for product in collection.products %}    <div li-for="product in collection.products" class="filter_product-list-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div>{% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    <ul role="list" class="pagination_list w-list-unstyled">{% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block"><div li-object="part.title" class="text-style-link">{{ part.title }}</div></a>    </div>
{% endif %}
                            
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    {% if part.is_link != true %}    <div li-if="part.is_link != true">
    <div><div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div></div>    </div>
{% endif %}    </div>
{% endif %}
                            
                        </li>
{% endfor %}{% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}{% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}</ul>    </nav>
{% endif %}</div></div><div class="div-block-123"><div class="padding-horizontal padding-medium"><div></div><div class="div-block-124"></div></div></div></div></div>{% endpaginate %}
</div> {% schema %} {"tag":"section","name":"collection_products","class":"section_filters","settings":[{"id":"text_promo_text","type":"text","label":"promo text","default":"Promo text here"}],"presets":[{"name":"collection_products","category":"Liquify"}]} {% endschema %}