<div class="header_background-image-wrapper"><div class="header_overlay-layer"></div><img class="header_background-image"
     alt="{{ section.settings.image_bild_placeholder_detailed_apparel_1.alt }}"

     src="{{ section.settings.image_bild_placeholder_detailed_apparel_1 | img_url: 'master' }}" loading="eager" alt="{{ section.settings.image_bild_placeholder_detailed_apparel_1.alt }}" class="header_background-image"}
>
</div><div class="padding-global"><div class="container-large"><div class="header_card text-color-white"><div class="max-width-large"><h1 class="heading-style-h2">
{{ section.settings.text_headline }}
</h1>
<div class="spacer-small"></div><div class="text-size-medium"> {{ section.settings.richtext_text }} </div>
</div><div class="spacer-medium"></div><div class="button-group"><a href="{{ section.settings.url_button_link }}" class="button w-button"> {{ section.settings.text_button_text }} </a>
</div></div></div></div> {% schema %} {"tag":"header","name":"Hero","class":"section_header-home","settings":[{"id":"image_bild_placeholder_detailed_apparel_1","type":"image_picker","label":"Bild | placeholder: 'detailed-apparel-1'"},{"id":"text_headline","type":"text","label":"Headline","default":"Short heading here"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<\/p>"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"More Information"}],"presets":[{"name":"Hero","category":"Liquify"}]} {% endschema %}