<div class="div-block-131">{% render 'account_sidebar' %}
<div id="w-node-_0125fe1a-fc7b-3665-3442-d61692129d7f-39d4a5b0" class="div-block-154"><div id="w-node-_0125fe1a-fc7b-3665-3442-d61692129d80-39d4a5b0" class="div-block-153"><div class="padding-horizontal padding-medium"><div class="div-block-152"><div class="cart_table-header"><div class="text-size-small text-weight-medium">My order</div></div></div></div></div><div id="w-node-_0125fe1a-fc7b-3665-3442-d61692129d86-39d4a5b0" class="padding-horizontal padding-medium"><div class="div-block-178"><div class="div-block-177"><div class="div-block-180 guide"><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f0208e-39d4a5b0" class="text-size-small">Name</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02090-39d4a5b0" class="text-size-small">Quantity</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02092-39d4a5b0" class="text-size-small">Price</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02094-39d4a5b0" class="text-size-small">Sum</div></div>{% for item in order.line_items %}    <div li-for="item in order.line_items" class="div-block-180">
                                    
                            <div li-object="item.product.title" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6962-39d4a5b0" class="text-size-regular">{{ item.product.title }}</div>
                            
                            <div li-object="item.quantity" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6964-39d4a5b0" class="text-size-regular">{{ item.quantity }}</div>
                            
                            <div li-object="item.unit_price" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6966-39d4a5b0" class="text-size-regular hide-mobile-portrait">{{ item.unit_price }}</div>
                            
                            <div li-object="item.final_line_price | money" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6968-39d4a5b0" class="text-size-regular">{{ item.final_line_price | money }}</div>
                            
                        </div>
{% endfor %}<div><div class="order_line"><div class="text-size-regular">Subtotal</div><div li-object="order.subtotal_price | money">{{ order.subtotal_price | money }}</div></div>{% for line_item in order.line_items %}    <div li-for="line_item in order.line_items">
                                    
                            {% for discount in line_item.discount_allocations %}    <div li-for="discount in line_item.discount_allocations" class="order_line">
                                    
                            <div li-object="discount.discount_application.title" class="text-size-regular">{{ discount.discount_application.title }}</div>
                            
                            <div li-object="discount.amount | money">{{ discount.amount | money }}</div>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for shipping_line in order.shipping_lines %}    <div li-for="shipping_line in order.shipping_lines" class="order_line">
                                    
                            <div li-object="shipping_line.title" class="text-size-regular">{{ shipping_line.title }}</div>
                            
                            <div li-object="shipping_line.price | money" class="text-size-regular">{{ shipping_line.price | money }}</div>
                            
                        </div>
{% endfor %}{% for tax_line in order.tax_lines %}    <div li-for="tax_line in order.tax_lines" class="order_line">
                                    
                            <div class="display-inlineflex"><div li-object="tax_line.title" class="text-size-regular">{{ tax_line.title }}</div><div class="text-size-regular">(<span li:object="tax_line.rate | times: 100">19</span>)</div></div>
                            
                            <div li-object="tax_line.price | money" class="text-size-regular">{{ tax_line.price | money }}</div>
                            
                        </div>
{% endfor %}<div class="order_line"><div>Sum</div><div li-object="order.total_price | money">{{ order.total_price | money }}</div></div></div></div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f020bd-39d4a5b0" class="div-block-177"><div class="cart_grid is-header"><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f020bf-39d4a5b0" class="cart_table-header"><div class="text-size-regular">Customer Information</div></div></div><div class="addresses_account-wrapper content-grid"><div><div li-object="order.name" class="text-size-regular">{{ order.name }}</div><div li-object="order.created_at | date: '%e.%m.%Y'" class="text-size-regular">{{ order.created_at | date: '%e.%m.%Y' }}</div>{% if order.cancelled == true %}    <div li-if="order.cancelled == true" class="order_wrapper">
    <div class="text-size-regular">Canceled at: </div><div li-object="order.cancelled_at | date: '%e.%m.%Y'" class="text-size-regular">{{ order.cancelled_at | date: '%e.%m.%Y' }}</div>    </div>
{% endif %}<div liquid:if="order.cancelled == true" class="order_wrapper"><div class="text-size-regular">Reason: </div><div li-object="order.cancel_reason_label" class="text-size-regular">{{ order.cancel_reason_label }}</div></div></div><div><div class="text-size-regular">Billing Address:</div><div li-object="order.billing_address | format_address" class="text-size-regular">{{ order.billing_address | format_address }}</div></div><div><div class="text-size-regular">Shipping Address:</div><div li-object="order.shipping_address | format_address" class="text-size-regular">{{ order.shipping_address | format_address }}</div></div></div></div></div></div><div id="w-node-_0125fe1a-fc7b-3665-3442-d61692129dd2-39d4a5b0" class="div-block-155"><div class="div-block-156"><div class="padding-horizontal padding-medium"><div class="div-block-157"><div class="div-block-161"></div><div class="div-block-160"><div class="text-size-regular text-weight-medium">Store Credit</div><div class="div-block-159"><div class="text-size-small text-color-grey">$00.00</div></div></div></div></div><div class="div-block-164"><div class="text-size-small">Credit history</div><div class="div-block-162"><div class="div-block-163"><div><div class="text-size-tiny">#003</div><div class="text-size-small">12/24/25</div></div><div><div class="text-size-small">+$13</div></div></div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Order","class":"section_account","presets":[{"name":"Order","category":"Liquify"}]} {% endschema %}