<div class="padding-horizontal padding-medium"><div li-="" class="container-large">{% paginate collection.products by 50 %}
    <div li-paginate:by="50" li-paginate="collection.products" by="50"><div id="w-node-_98eb3193-38da-d576-fd03-0042a50ef0df-ccfb089e" class="div-block-60"><div id="w-node-fbc2b76f-ae1d-c44d-7b93-e3deb074d94a-ccfb089e" class="div-block-70"><div class="filter_feed-header right-side"><select id="sort-by" li-for:inside="option in collection.sort_options" class="sort_select filter_checkbox">
        {% for option in collection.sort_options %}                            
                            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% elsif option.value == collection.default_sort_by %}selected{% endif %}>{{ option.name }}</option>
                            
                    {% endfor %}    </select>
</div><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div>{% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    <ul role="list" class="pagination_list w-list-unstyled">{% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block"><div li-object="part.title" class="text-style-link">{{ part.title }}</div></a>    </div>
{% endif %}
                            
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    {% if part.is_link != true %}    <div li-if="part.is_link != true">
    <div><div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div></div>    </div>
{% endif %}    </div>
{% endif %}
                            
                        </li>
{% endfor %}{% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}{% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}</ul>    </nav>
{% endif %}</div></div></div>{% endpaginate %}
</div></div> {% schema %} {"tag":"section","name":"seller_products","class":"section_filters","presets":[{"name":"seller_products","category":"Liquify"}]} {% endschema %}